@model Root
@{
    ViewData["Title"] = "shufflecards";
}

<h1>shuffle cards</h1>

<div>
    Success: @Model.success
    Deck ID: @Model.deck_id
    Remaining: @Model.remaining
    Shuffled: @Model.shuffled
    Deck Count: @Model.deck_count
</div>